.container {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    border: gray .5px solid;
}

.title {
    text-align: center;
    font-size: 16px;
    font-family: Tahoma;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #646464;
}

b {
    font-family: Tahoma;
    font-weight: bold;
    color: #646464;
}

table {
  width: 620px;
  font-size: 10px;
}

table tbody tr:nth-child(odd) {
	background: whitesmoke;
}

table thead {
  font-size: 18px;
}

th {
    text-align: start;
    font-size: 12px;
    font-weight: 100;
    font-family: Tahoma;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.special {
    padding-right: 20px;
    text-align: right;
    font-family: Arial;
}

.void {
    padding-top: 1px;
    padding-bottom: 1px ;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.sizeImgLogo {
    width: 60px;
    padding-left: 6px;
}

.sizeImgText {
    width: 130px;
}

.whiteLine {
    background-color: white;
    border-top: gray .5px solid;
}

.banner {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    border-left: gray .5px solid;
    border-right: gray .5px solid;
    background-color: #006fcf;
}

.mainBanner {
    width: 620px;
    height: 130px;
}

.upLogin {
    font-weight: 600;
}

.loginAmex {
    width: 480px;
    padding-left: 70px;
}

.fontBanner {
    color: white;
    text-align: left;
    font-size: 17px;
    font-weight: 100;
    font-family: Tahoma;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 65px;
    margin: 1px;
}

.leyendAmex {
    width: 620px;
    position: relative;
    top: 10px;
    right: .5px;
    border-left: gray .5px solid;
    border-right: gray .5px solid;
}

.line{
    height:10px;
    width:.5px;
    border-width:0;
    color:#000;
    background-color:#000;
   }

.contenedor {
    text-align: center;
    padding-top: 10px;
}
   
.colLeft, .colCenter, .colRight{
    width:200px;
    float:left;
    color: white;
    font-family: Tahoma;
    font-size: small;
}

.link {
    color: white;
}

.number {
    font-weight: 600;
    font-size: medium;
}

.colCenter {
    border-left: white 1.5px solid;
    border-right: white 1.5px solid;
    padding-left: 5px;
    padding-right: 5px;
}

.montos {
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 65px;
}

.paddingMontos {
    padding-top: 15px;
}

.containerDudas {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    border: gray .5px solid;
    background-color: #67a9e3;
    color: white;
    font-size: 18px;
    font-family: Tahoma;
}

.phone {
    width: 45px;
    position: relative;
    right: 230px;
    top: 30px;
}

.textDudas {
    padding-left: 110px;
    text-align: initial;
    position: relative;
    left: 0px;
    bottom: 35px;
}