.container {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    border: gray .5px solid;
}

.title {
    text-align: center;
    font-size: 16px;
    font-family: Tahoma;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #646464;
}

b {
    font-family: Tahoma;
    font-weight: bold;
    color: #646464;
}

table {
  width: 620px;
  font-size: 10px;
}

table tbody tr:nth-child(odd) {
	background: whitesmoke;
}

table thead {
  font-size: 18px;
}

th {
    text-align: start;
    font-size: 12px;
    font-weight: 100;
    font-family: Tahoma;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.special {
    padding-right: 20px;
    text-align: right;
    font-family: Arial;
}

.void {
    padding-top: 1px;
    padding-bottom: 1px ;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.sizeImgLogo {
    width: 60px;
    padding-left: 6px;
}

.sizeImgText {
    width: 130px;
}

.whiteLine {
    background-color: white;
    border-top: gray .5px solid;
}

.banner {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    border-left: gray .5px solid;
    border-right: gray .5px solid;
    background-color: #006fcf;
}

.mainBanner {
    width: 620px;
    height: 130px;
}

.upLogin {
    font-weight: 600;
}

.loginAmex {
    width: 480px;
    padding-left: 70px;
}

.fontBanner {
    color: white;
    text-align: left;
    font-size: 17px;
    font-weight: 100;
    font-family: Tahoma;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 65px;
    margin: 1px;
}

.leyendAmex {
    width: 620px;
}

.line{
    height:10px;
    width:.5px;
    border-width:0;
    color:#000;
    background-color:#000;
   }

.contenedor {
    text-align: center;
    padding-top: 10px;
}
   
.colLeft, .colCenter, .colRight{
    width:200px;
    float:left;
    color: white;
    font-family: Tahoma;
    font-size: small;
}

.link {
    color: white;
}

.number {
    font-weight: 600;
    font-size: medium;
}

.colCenter {
    border-left: white 1.5px solid;
    border-right: white 1.5px solid;
    padding-left: 5px;
    padding-right: 5px;
}

.montos {
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 65px;
}

.paddingMontos {
    padding-top: 15px;
}

.containerDudas {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    background-color: #67a9e3;
    color: white;
    font-size: 19px;
    font-family: Tahoma;
    border-left: gray .5px solid;
    border-right: gray .5px solid;
    padding-bottom: 80px;
}

.phone {
    width: 45px;
    padding-left: 55px;
}

.textDudas {
    text-align: justify;
}

.colTel {
    width: 110px;
    float:left;
}

.colInfo {
    width:450px;
    float:left;
    color: white;
    font-family: Tahoma;
    font-size: 16px;
    padding-top: 5px;
}

.beneficios {
    width: 620px;
    margin-left: auto;
	margin-right: auto;
    font-size: 14px;
    font-family: Tahoma;
    text-align: center;
}

.colB1, .colB2, .colB3{
    padding-left: 11px;
    width:195px;
    float:left;
    font-family: Tahoma;
    font-size: 12px;
}

.benText {
    font-weight: 600;
}

.icons {
    width: 50px;
}

.fraseAmex {
    width: 620px;
}

.terms {
    max-width: 620px;
    min-width: 620px;
    background-color: whitesmoke;
    margin-left: auto;
	margin-right: auto;
    font-size: 14px;
    font-family: Tahoma;
    text-align: left;
    padding: 1px;
    color:#646464;;
}
.terms1 {
    max-width: 550px;
    min-width: 550px;
    background-color: whitesmoke;
    color: #646464;
    margin-left: auto;
	margin-right: auto;
    font-size: 14px;
    font-family: Tahoma;
    text-align: left;
    padding: 1px;
}

.terminos {
    color: #646464;;
}

.cat {
    font-weight: bold;
    font-size: large;
}

.pay {
    max-width: 620px;
    min-width: 620px;
    background-color: white;
    margin-left: auto;
	margin-right: auto;
    font-size: 14px;
    font-family: Tahoma;
    text-align: left;
    padding: 1px;
    color: #646464;
}

.pay1 {
    max-width: 550px;
    min-width: 550px;
    background-color: white;
    margin-left: auto;
	margin-right: auto;
    font-size: 14px;
    font-family: Tahoma;
    text-align: left;
    padding: 1px;
    color: #646464;
}

@media (min-width: 310px) {
    .show {display: none;}
    .sizeImgLogo {
        width: 100px;
    }

    .sizeImgText {
        width: 160px;
        padding-bottom: 10px;
    }
}

@media (max-width: 619.98px) {
    .hide {display: block;}
    .container {display: none;}

    .fontBanner {
        font-size: 25PX;
        text-align: center;
        padding-left: 5PX;
    }

    .colLeft, .colCenter, .colRight {
        float: none;
        border: none;
        padding-top: 20px;
        padding-left: 220px;
        font-size: 27px;
    }

    .number {
        font-size: 30px;
    }

    .montos {
        font-size: 27px;
    }

    .beneficios {
        font-size: 23px;
    }

    .colB1, .colB2, .colB3 {
        float: none;
        border: none;
        padding-top: 20px;
        padding-left: 220px;
        font-size: 25px;
    }
    .icons {
        width: 95px;
    }

    .containerDudas {
        height: 170px;
    }

    .textDudas {
        padding-top: 90px;
        padding-right: 25px;
        font-size: 24px;
    }

    .phone {
        width: 80px;
        padding-left: 280px;
        padding-bottom: 80px;
    }
}

.dialog {
    min-width: 619px !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #B5B2B2;
    text-align: center;
    font-size: 25px;
    font-family: Tahoma;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.user {
    min-width: 619px !important;
    margin-left: auto;
    margin-right: auto;
    border-top: gray 1.5px solid;
    text-align: center;
    font-size: 20px;
    font-family: Tahoma;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}